<h1>Positions</h1>

<ul>


<% @positions.each do |position| %>
<!-- why can't I use display_player(position) -->
  <h3>  <%=position.player.name%> - <%= link_to position.name, position_path(position)%> </h3>

<% end %><br><br>
</ul><br>

<%= link_to "Add New Position", new_player_position_path %>
