<h1>Position: <%=@position.name %></h1>

<%= link_to "Edit Position", edit_position_url%> &nbsp &nbsp<%=link_to "Go To Players", players_path %> &nbsp &nbsp <%=link_to "Go To Sports", sports_path %><br><br>
